@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

* {
    font-family: "Poppins", sans-serif;

}

.hr {
    background-color: #0296E5;
    width: 100%;
    height: 3px;
    border: 0;
    margin-top: 0%;
}

.nav {
    height: 9%;
    width: 100%;
    position: sticky;
    bottom: 0;
    padding-bottom: 3%;
    z-index: 999;
    background-color: #242A32;
}

.nav-details{
    position: static;
}

body {
    margin: 0;
}

.items {
    margin-top: 1%;
    display: flex;
    flex: 0 1 20%;
    justify-content: space-around;
}

.home_l, .search_l, .list_l {
    text-decoration: none;
    color: #666;

    margin-top: 5px;
    
}

.watch_div, .Search_div, .home_div {
    /* flex: 0 1 10%; */
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}