.watchlistItem{
    display: flex;
    color: #fff;
    margin-top: 2%;
    justify-content: center;
    margin-bottom: 1rem;
}

.watchlistItem > img {
    width: 150px;
}


.release_span{
    display: flex;
    width: 50px;
    justify-content: center;
    column-gap: 1px;
    color: #efeded;

}

.duration_span{
    display: flex;
    color: #efeded;
}

.watchlistItem__info{
    display: flex;
    flex-direction: column;
    padding-left: 1rem;

}

.watchlistItem_link{
    color: #fff;
    padding: 0;
    font-size: 16px;
    background: none;
    border: none;
    text-decoration: none;
    
}

@media (min-width: 375px) {
    .watchlistItem{
        justify-content: start;
        margin-left: 6%;

    }
}

@media (min-width: 768px) {
    .watchlistItem{
        justify-content: start;
        margin-left: 5%;
    }
}