@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

*{
    font-family: "Poppins", sans-serif;
    
}

body{
    background-color: #242A32
}

.homepageSection__filterMovies{
    /* display: flex; */
    
}

.filterMovies_headers{
display: flex;
flex: 1 1 auto;
gap: 3px;
}

.filterMovies_headers button{
    text-align: center;
    font-size: 14px;
    background: none;
    border: none;
    color: #EEEEEE;
}

.filterMovies_nowPlaying{
    display: flex;
    flex-direction: column;
}

.card p{
    color: #EEEEEE;
}