@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

*{
    font-family: "Poppins", sans-serif;
    
}

body{
    background-color: #242A32
}

.homepageSection__filterMovies{
    /* display: flex; */
    
}

.filterMovies_headers{
display: flex;
flex: 1 1 auto;
gap: 3px;
}

.filterMovies_headers button{
    text-align: center;
    font-size: 14px;
    background: none;
    border: none;
    color: #EEEEEE;
}

.filterMovies_nowPlaying,
.filterMovies_upcoming,
.filterMovies_topRated,
.filterMovies_popular{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 1.5rem;
}



.card img{
    border-radius: 8px;
    width: 150px;
    z-index: 2;
}

.card img:hover{
    filter: opacity(0.2); 
    
}

/* .card p{
    position: relative;
    top: -50%;
    left: 20%;
    color: #fff;
    font-size: 10px;
    opacity: 0;
}

.card:hover  p{
    opacity: 1;
} */