.header {
    width: 100%;
    padding: 15px 0;
    color: #ECECEC;
    background: #242A32;
    ;

    &_container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        &_btn {
            border: none;
            background: transparent;
            
        }
    }
}