.introSvg{
    display: block;
    position: absolute;
    top: 10%;
}

.popcornSvg{
    transform-box: view-box;
    animation: vector 1.2s infinite;

}

.Vector_2{
    animation: vector_2 1.2s infinite;

}

@keyframes vector_2{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10%);

    }
    100%{
        transform: translateY(0);

    }
}

.Vector_5{
    animation: vector_5 1.2s infinite;
    z-index: 2;
    }
    
    @keyframes vector_5{
        0%{
            transform: translateY(0);
        }
        50%{
            transform: translateY(-7%);
    
        }
        100%{
            transform: translateY(0);
    
        }
    }


.Vector_4{
animation: vector_4 1.2s infinite;

}

@keyframes vector_4{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-20%);

    }
    100%{
        transform: translateY(0);

    }
}



@keyframes vector{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-20%);

    }
    100%{
        transform: translateY(0);

    }
}

@media (min-width: 768px) {
    .introSvg{
        margin: 0 auto;
    }
}