.searchItem{
    display: flex;
    color: #fff;
    margin-top: 2%;
    justify-content: center;
    margin-bottom: 1rem;
}

.searchItem > img {
    width: 150px;
}

.rating_span{
    width: 25px;
    display: flex;
    justify-content: space-between;
    color: #FF8700;
}

.release_span{
    display: flex;
    width: 50px;
    justify-content: center;
    column-gap: 1px;

}

.searchItem__info{
    display: flex;
    flex-direction: column;
    padding-left: 1rem;

}

.searchItem_link{
    color: #fff;
    padding: 0;
    font-size: 16px;
    background: none;
    border: none;
    text-decoration: none;
    
}

@media (min-width: 375px) {
    .searchItem{
        justify-content: start;
        margin-left: 6%;

    }
}

@media (min-width: 768px) {
    .searchItem{
        justify-content: start;
        margin-left: 5%;
    }
}